<section class="index-page">
  <img class="avatar" src="{{avatar}}">
  <h2>Hello {{username}}!</h2>
  <a href="/auth/logout">Logout</a>
  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
</section>