<section class="profileSettings">
    <h1>User profile settings</h1>
        <div class="profile-options">
        <a href="/auth/logout">Logout</a>
        <a href="/user/profile">Profile</a>
    </div>
</section>